body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #eee;
}

main {
  flex: 1;
}

footer {
  padding: 15px;
  margin-top: 15px;
  background-color: #f8f9fa;
}

/* Style du carousel */
/* Taille des boutons du carousel */
.h-550px {
  height: 550px;
}

.img-carousel {
  height: 550px;
  object-fit: cover;
}

.carousel-desc {
  background: rgba(0, 0, 0, 0.5);
}

/* Style des cards */

.archive {
  margin-top: 15px;
}

.resizing {
  display: flex;
  flex-direction: column;
}

.resizing:hover {
  transform: scale(1.05);
}

.img-card {
  height: 200px;
  object-fit: cover;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
}

.badge {
  height: 40px;
  width: auto;
}

/* Style de l'article */
.article-img {
  height: 400px;
  width: auto;
  display: block;
  margin: auto;
}

/* Style des commentaire */
.comment-section {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  padding: 10px;
  background-color: lightgray;
  border-radius: 25px;
}

.comment {
  background-color: white;
  padding: 10px 10px 0 10px;
  border: solid 1px black;
  border-radius: 25px;
}

.comment-title {
  display: flex;
  gap: 10px;
}

.date {
  color: gray;
}

@media screen and (min-width: 576px) {
  .resizing {
    min-height: 600px;
  }
}

@media screen and (min-width: 768px) {
  .resizing {
    min-height: 550px;
  }
}

@media screen and (min-width: 1200px) {
  .resizing {
    min-height: 500px;
  }
}
